In [ ]:
import pandas as pd
import numpy as np


results_lime = pd.read_excel("kernel_width_table.xlsx", sheet_name="lime")
results_lemon = pd.read_excel("kernel_width_table.xlsx", sheet_name="lemon")

In [ ]:
# results_lime.drop(columns=["Kernel Width"], inplace=True)
results_lime

,Kernel Width,WINE GNB,WINE MLP,WINE RF,PIMA GNB,PIMA MLP,PIMA RF,BC GNB,BC MLP,BC RF
0,0.1,0.008981,0.064095,0.041194,0.018207,0.017758,0.072192,0.011039,0.219352,0.037691
1,0.3,0.043736,0.101453,0.118015,0.057073,0.050347,0.141159,0.051745,0.418076,0.102780
2,0.5,0.102591,0.218937,0.184887,0.079550,0.067732,0.112351,0.150613,0.524123,0.170897
3,1,0.258134,0.261735,0.155840,0.119630,0.067500,0.104513,0.490601,0.520685,0.264789
4,0.75*sqrt(n),0.652436,0.499456,0.375620,0.387048,0.241708,0.246588,0.512634,0.985203,0.366506
5,4,0.847821,0.810832,0.545191,0.686974,0.464714,0.419121,0.504025,0.742212,0.357872

In [ ]:
results_lime
# results_lemon.drop(columns=["Kernel Width"], inplace=True)
results_lemon

,Kernel Width,WINE GNB,WINE MLP,WINE RF,PIMA GNB,PIMA MLP,PIMA RF,BC GNB,BC MLP,BC RF
0,0.1,0.002925,0.007669,0.005291,0.001661,0.000875,0.009491,0.004319,0.085300,0.005594
1,0.3,0.024147,0.019081,0.017273,0.013950,0.006407,0.023201,0.025668,0.162760,0.015388
2,0.5,0.064540,0.050807,0.029678,0.034278,0.016995,0.035549,0.076904,0.223856,0.024160
3,1,0.188321,0.105609,0.050996,0.097740,0.055096,0.054311,0.178892,0.253600,0.035961
4,0.75*sqrt(n),0.244544,0.201892,0.065297,0.211822,0.139201,0.061963,0.001486,0.287215,0.040413
5,4,0.226401,0.202824,0.064800,0.260767,0.184548,0.059670,0.001680,0.219036,0.040387

In [ ]:
np.mean((results_lime - results_lemon) / results_lime)

0.6920356728755545

In [ ]:
results_lime

,WINE GNB,WINE MLP,WINE RF,PIMA GNB,PIMA MLP,PIMA RF,BC GNB,BC MLP,BC RF
0,0.008981,0.064095,0.041194,0.018207,0.017758,0.072192,0.011039,0.219352,0.037691
1,0.043736,0.101453,0.118015,0.057073,0.050347,0.141159,0.051745,0.418076,0.102780
2,0.102591,0.218937,0.184887,0.079550,0.067732,0.112351,0.150613,0.524123,0.170897
3,0.258134,0.261735,0.155840,0.119630,0.067500,0.104513,0.490601,0.520685,0.264789
4,0.652436,0.499456,0.375620,0.387048,0.241708,0.246588,0.512634,0.985203,0.366506
5,0.847821,0.810832,0.545191,0.686974,0.464714,0.419121,0.504025,0.742212,0.357872

In [ ]:
results_lime_p = pd.read_excel("results.xlsx", sheet_name="Sheet1")
# results_lime_p.drop(0, inplace=True)
# results_lime_p.drop(1, inplace=True)
results_lime_p.drop(columns=["Unnamed: 0", ], inplace=True)
results_lime_p.drop(0, inplace=True)
results_lime_p.drop(1, inplace=True)

In [ ]:
results_lemon_p = pd.read_excel("results.xlsx", sheet_name="Sheet2")

In [ ]:
results_lemon_p.drop(columns=["Unnamed: 0", ], inplace=True)
results_lemon_p.drop(0, inplace=True)
results_lemon_p.drop(1, inplace=True)

In [ ]:
results_lemon_p

,Dataset.WINE,Unnamed: 2,Unnamed: 3,Dataset.PIMA,Unnamed: 5,Unnamed: 6,Dataset.BC,Unnamed: 8,Unnamed: 9
2,0.003405,0.006799,0.017835,0.016372,0.014524,0.035582,0.005875,0.114598,0.014778
3,0.026427,0.04027,0.050753,0.030981,0.026401,0.052811,0.030298,0.193765,0.038165
4,0.070718,0.141764,0.081997,0.045729,0.03129,0.064341,0.104709,0.271186,0.057385
5,0.223794,0.205468,0.120054,0.109885,0.061077,0.088209,0.263467,0.295251,0.07248
6,0.302927,0.273047,0.123697,0.256664,0.14517,0.100296,0.001451,0.228276,0.065239
7,0.282099,0.338771,0.119509,0.348113,0.192096,0.096444,0.001769,0.292196,0.065375

In [ ]:
results_lime_p

,Dataset.WINE,Unnamed: 2,Unnamed: 3,Dataset.PIMA,Unnamed: 5,Unnamed: 6,Dataset.BC,Unnamed: 8,Unnamed: 9
2,0.008958,0.024656,0.041208,0.018215,0.016167,0.072186,0.011027,0.195444,0.037692
3,0.043742,0.112717,0.118031,0.057038,0.051196,0.141244,0.051814,0.407754,0.102741
4,0.102591,0.254024,0.185647,0.079695,0.069817,0.111645,0.150783,0.522251,0.170851
5,0.258127,0.227603,0.155471,0.11966,0.065302,0.104605,0.490756,0.573657,0.264988
6,0.652039,0.544232,0.375671,0.386784,0.239042,0.246592,0.511616,0.839918,0.366622
7,0.846789,0.891078,0.544923,0.686621,0.473535,0.41862,0.504891,0.61873,0.357678

In [ ]:
np.mean((results_lime_p - results_lemon_p) / results_lime_p)

0.5054387660634423